{% extends 'layout.html' %}

{% block title %}
    Tertulias
{% endblock  %}

{% block content %}
<section class="quienes">
    <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-1 col-xs-12 contenedor-titulo">
              <h2 class="titulo-club-2 text-white text-center md">Tertulias<span class="literatus">literarias</span>Sábatinas</h2>
              <p class="text-white text-center">IMPORTANTE: La inscripcion a cualquiera de las tertulias es gratis, solamente debes de estar registrado previamente en LITERATUS. El cupo en las tertulias está limitado.</p>

              
          </div>
        </div>
    </div>

         <!-- Trending Category Section -->
    <section id="trending-category" class="trending-category section">

        <div class="container" data-aos="fade-up" data-aos-delay="100">
  
          <div class="container" data-aos="fade-up">
            <div class="row g-5">

              <div class="col-lg-4">

                  <div class="post-entry lg">
                    <div class="post-meta"><span class="date">La guarida oficial</span> <span class="mx-1">•</span> <span>Literatus</span></div>
                    <h2 ><a href="#" style="color: #ac1383;">Agradecimiento de todo corazón a La Borra del Café (Chapultepec, Guadalajara) por dejarnos usar sus instalaciones.</a></h2>
                    <a href="#"><img src="/static/assets/img/la-borra-del-cafe-chapultepec.jpg" alt="" class="img-fluid"></a>
                    <p class="mb-4 d-block">La Borra del Café Sucursal Chapultepec, Guadalajara, Jalisco.</p>
    
                    <div class="d-flex align-items-center author">
                      <div class="photo"><img src="static/assets/img/alonso.jpg" alt="" class="img-fluid"></div>
                      <div class="name">
                        <h3 class="m-0 p-0">Alonso "La hiena" Trejo & María "La flaca" Santos </h3>
                      </div>
                    </div>
                  </div>

              </div>

              
              <div class="col-lg-8">
                
                <div class="row g-5">
                {% if tertulias %}
                  {% for tertulia in tertulias  %}  
                    <div class="col-lg-4 border-start custom-border">
                        <div class="post-entry">
                        <a href="#"><img src="{{ tertulia.tertulia_banner.url }}" alt="" class="img-fluid"></a>
                        <h2><a href="#"><small class="text-white">Tertulia:</small> {{ tertulia.tertulia_name }} </a></h2>
                        <p class="mb-4 d-block"><small class="text-white">Tertulia folio id #:</small> {{ tertulia.id }}</p>
                        <div class="post-meta"><span class="date"><small class="text-white">Sede:</small> {{ tertulia.tertulia_address }} </span></div>
                        
                        <p class="mb-4 d-block" style="text-align: justify !important;"><small class="text-white">Descripcion:</small> {{ tertulia.tertulia_description}}</p>
                        <p class="mb-4 d-block"><small class="text-white">Fecha de inicio:</small> {{ tertulia.tertulia_fecha_de_inicio }}</p>
                        <p class="mb-4 d-block"><small class="text-white">Horario:</small> {{ tertulia.tertulia_horario }}</p>
                        <p class="mb-4 d-block"><small class="text-white">Sesiones:</small > {{ tertulia.tertulia_sesiones }}</p>
                        <p class="mb-4 d-block"><small class="text-white">Lugares disponibles:</small > {{ tertulia.tertulia_lugares_disponibles }}</p>
                        
                        </div>
                        <div class="d-flex align-items-center author">
                            <div class="name">
                                
                                {% if tertulia.tertulia_encargado_picture %}
                                <div class="photo"><img src="{{ tertulia.tertulia_encargado_picture.url }}" alt="" class="img-fluid"></div>
                                {% endif %}
                                <p class="mb-4 d-block"><small class="text-white" style="margin-buttom: 0px;">Literatus a cargo:</small >
                                <h3 class="m-0 p-0 nombre_encargado" style="padding-top: -10px;">{{ tertulia.tertulia_encargado }}</h3>
                        </div>
                        </div>
                        <div class="d-flex align-items-center author">
                          <a class="btn btn-primary" style="margin-top: 5px;" href="{% url 'inscripciones:inscripcion_tertulia' %}">Inscribirse</a>
                        </div>
                        
                    </div>
                  {% endfor %}
                {% endif %}
                 
                </div>
              </div>
              
              -->
            </div>
          </div>
        </div>
</section>
{% endblock  %}